<section class="content-header">
    <h1>Item Add <small>Module description here</small></h1>
    <ol class="breadcrumb">
        <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Item</li>
        <li class="active">Add</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add Item</h3>
                </div>
                <form class="form-horizontal" name="itemForm" ng-submit="vm.save(itemForm.$valid)" novalidate>
                    <div class="box-body">
                        <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                            <h4>{{alert.title}}</h4>
                            <p>{{alert.msg}}</p>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': itemForm.item_code.$invalid && (vm.formSubmitted || itemForm.item_code.$touched)}">
                            <label for="item_code" class="col-sm-2 control-label">Item Code</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="vm.item_code" name="item_code" placeholder="Item Code (UPC / EAN / ISBN)">
                                <p ng-show="itemForm.item_code.$error.required && (vm.formSubmitted || itemForm.item_code.$touched)" class="help-block">Item code is required</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': itemForm.item_name.$invalid && (vm.formSubmitted || itemForm.item_name.$touched)}">
                            <label for="item_name" class="col-sm-2 control-label">Item Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="vm.item_name" name="item_name" placeholder="Item name" required>
                                <p ng-show="itemForm.item_name.$error.required && (vm.formSubmitted || itemForm.item_name.$touched)" class="help-block">Item name is required</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': itemForm.size.$invalid && (vm.formSubmitted || itemForm.size.$touched)}">
                            <label for="size" class="col-sm-2 control-label">Size</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="vm.size" name="size" placeholder="Size" required>
                                <p ng-show="itemForm.size.$error.required && (vm.formSubmitted || itemForm.size.$touched)" class="help-block">Size is required</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="vm.description" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': itemForm.cost_price.$invalid && (vm.formSubmitted || itemForm.cost_price.$touched)}">
                            <label for="cost_price" class="col-sm-2 control-label">Cost Price</label>
                            <div class='col-sm-10'>
                                <input type="text" class="form-control" ng-model="vm.cost_price" name="cost_price" placeholder="Cost Price" required>
                                <p ng-show="itemForm.cost_price.$error.required && (vm.formSubmitted || itemForm.cost_price.$touched)" class="help-block">Cost price required</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': itemForm.selling_price.$invalid && (vm.formSubmitted || itemForm.cost_price.$touched)}">
                            <label for="selling_price" class="col-sm-2 control-label">Selling Price</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="vm.selling_price" name="selling_price" placeholder="Selling Price" required>
                                <p ng-show="itemForm.selling_price.$error.required && (vm.formSubmitted || itemForm.cost_price.$touched)" class="help-block">Selling price required</p>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': itemForm.quantity.$invalid && (vm.formSubmitted || itemForm.quantity.$touched)}">
                            <label for="quantity" class="col-sm-2 control-label">Quantity</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="vm.quantity" name="quantity" placeholder="Initial item quantity" required>
                                <p ng-show="itemForm.quantity.$error.required && (vm.formSubmitted || itemForm.quantity.$touched)" class="help-block">Initial item quanaity is required</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <a ui-sref="app.item-list" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back</a>
                        <button type="submit" class="btn btn-primary pull-right">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
