<aside class="main-sidebar">
    <section class="sidebar">
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>

        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a ui-sref='app.landing'>
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            
            <li>
            <li class="treeview">
                <a href="javascript:void(0)">
                    <i class="fa fa-cog"></i> <span>Sales</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a ui-sref="app.sales-list">
                            <i class="fa fa-circle-o"></i> <span>All Sales</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.sales-create">
                            <i class="fa fa-circle-o"></i> <span>Add New</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="javascript:void(0)">
                    <i class="fa fa-cog"></i> <span>Receiving</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a ui-sref="app.receiving-list">
                            <i class="fa fa-circle-o"></i> <span>All Receiving</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.receiving-add">
                            <i class="fa fa-circle-o"></i> <span>Add New</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="javascript:void(0)">
                    <i class="fa fa-cog"></i> <span>Items</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a ui-sref='app.item-list'>
                            <i class="fa fa-circle-o"></i> <span>All Items</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref='app.item-add'>
                            <i class="fa fa-circle-o"></i> <span>Add Item</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="javascript:void(0)">
                    <i class="fa fa-cog"></i> <span>Item Kits</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a ui-sref='app.item-kits-list'>
                            <i class="fa fa-circle-o"></i> <span>All Item Kits</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref='app.item-kits-add'>
                            <i class="fa fa-circle-o"></i> <span>Add Item Kit</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="javascript:void(0)">
                    <i class="fa fa-users"></i> <span>Customers</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a ui-sref="app.customer-list">
                            <i class="fa fa-circle-o"></i> <span>All Customers</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.customer-add">
                            <i class="fa fa-circle-o"></i> <span>Add Customer</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="javascript:void(0)">
                    <i class="fa fa-users"></i> <span>Suppliers</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a ui-sref="app.supplier-list">
                            <i class="fa fa-circle-o"></i> <span>All Suppliers</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.supplier-add">
                            <i class="fa fa-circle-o"></i> <span>Add Suppliers</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview" ng-show="vm.can('view.user') || vm.can('create.user')">
                <a href="javascript:void(0)">
                    <i class="fa fa-users"></i> <span>Users</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li ng-show="vm.can('view.user')">
                        <a ui-sref='app.userlist'>
                            <i class="fa fa-circle-o"></i> <span>All Users</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="treeview" ng-show="vm.can('manage.roles') || vm.can('manage.permissions')">
                <a href="javascript:void(0)">
                    <i class="fa fa-cog"></i> <span>Settings</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li ng-show="vm.can('manage.roles')"><a ui-sref='app.userroles'><i class="fa fa-circle-o"></i> <span>User Roles</span></a></li>
                    <li ng-show="vm.can('manage.permissions')"><a ui-sref='app.userpermissions'><i class="fa fa-circle-o"></i> <span>User Permissions</span></a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
